@page "/blogadministration"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor httpContextAccessor
@inject IConfiguration _configuration
@inherits OwningComponentBase<BlogsService>

<h3>Blog Administration</h3>
<!-- AuthorizeView allows us to only show sections of the page -->
<!-- based on the security on the current user -->
<AuthorizeView>
    <!-- Show this section if the user is logged in -->
    <Authorized>
        @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
        {
            @if (colBlogs == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <!-- Show the blogs -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Blog Title</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in colBlogs.Blogs)
                        {
                            <tr>
                                <td>@blog.BlogDate.ToShortDateString()</td>
                                <td>@blog.BlogTitle</td>
                                <td>
                                    <!-- Edit the current blog -->
                                    <button class="btn btn-primary"
                                            @onclick="(() => EditBlog(blog))">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>
                    <!-- Add a new Blog -->
                    <button class="btn btn-success"
                            @onclick="AddNewBlog">
                        Add New Blog
                    </button>
                    <button class="btn btn-warning"
                            @onclick="Previous">
                        <b>&#x3C;</b>
                    </button>
                    @if (ShowNextButton)
                    {
                        <button class="btn btn-warning"
                                @onclick="Next">
                            <b>&#x3E;</b>
                        </button>
                    }
                </p>
            }
            @if (ShowPopup)
            {
                <!-- This is the popup to create or edit a Blog -->
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Edit Blog</h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Edit form for the current Blog -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="date"
                                           @bind="SelectedBlog.BlogDate" />
                                </div>
                                <h5>Title</h5>
                                <div class="form-group">
                                    <input class="form-control" type="text"
                                           @bind="SelectedBlog.BlogTitle" />
                                </div>
                                <h5>Summary</h5>
                                <div class="form-group">
                                    @if (!RichTextEditorModeSummary)
                                    {
                                        <textarea class="form-control" @bind="@SelectedBlog.BlogSummary" rows="2" />
                                    }
                                    else
                                    {
                                        <BlazoredTextEditor @ref="@QuillHtmlSummary">
                                            <ToolbarContent>
                                                <select class="ql-header">
                                                    <option selected=""></option>
                                                    <option value="1"></option>
                                                    <option value="2"></option>
                                                    <option value="3"></option>
                                                    <option value="4"></option>
                                                    <option value="5"></option>
                                                </select>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                    <button class="ql-strike"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                    <select class="ql-background"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"></button>
                                                    <button class="ql-list" value="bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-link"></button>
                                                    <button class="btn btn-link" id="custom-button"
                                                            @onclick="InsertImageSummaryClick">
                                                        <img src="imageIcon.png" style="border:hidden" />
                                                    </button>
                                                </span>
                                            </ToolbarContent>
                                            <EditorContent>
                                                @((MarkupString)SelectedBlog.BlogSummary)
                                            </EditorContent>
                                        </BlazoredTextEditor>
                                    }
                                    @if (!RichTextEditorModeSummary)
                                    {
                                        <button type="button" class="btn btn-link" @onclick="RichTextEditorSummary"><h6>[Rich Text Editor]</h6></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-link" @onclick="RawHTMLEditorSummary"><h6>[Raw HTML Editor]</h6></button>
                                    }
                                </div>
                                <h5>Content</h5>
                                <div class="form-group">
                                    @if (!RichTextEditorMode)
                                    {
                                        <textarea class="form-control" @bind="@SelectedBlog.BlogContent" rows="5" />
                                    }
                                    else
                                    {
                                        <BlazoredTextEditor @ref="@QuillHtml">
                                            <ToolbarContent>
                                                <select class="ql-header">
                                                    <option selected=""></option>
                                                    <option value="1"></option>
                                                    <option value="2"></option>
                                                    <option value="3"></option>
                                                    <option value="4"></option>
                                                    <option value="5"></option>
                                                </select>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                    <button class="ql-strike"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                    <select class="ql-background"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"></button>
                                                    <button class="ql-list" value="bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-link"></button>
                                                    <button class="btn btn-link" id="custom-button"
                                                            @onclick="InsertImageClick">
                                                        <img src="imageIcon.png" style="border:hidden" />
                                                    </button>
                                                </span>
                                            </ToolbarContent>
                                            <EditorContent>
                                                @((MarkupString)SelectedBlog.BlogContent)
                                            </EditorContent>
                                        </BlazoredTextEditor>
                                    }
                                    @if (!RichTextEditorMode)
                                    {
                                        <button type="button" class="btn btn-link" @onclick="RichTextEditor"><h6>[Rich Text Editor]</h6></button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-link" @onclick="RawHTMLEditor"><h6>[Raw HTML Editor]</h6></button>
                                    }
                                </div>
                                <br />
                                <!-- Button to save the user -->
                                <button class="btn btn-primary"
                                        @onclick="SaveBlog">
                                    Save
                                </button>
                                <!-- Only show delete button if not a new record -->
                                @if (SelectedBlog.BlogId.ToString() != "0")
                                {
                                    <!-- Button to delete the forecast -->
                                    <button class="btn btn-danger"
                                            @onclick="DeleteBlog">
                                        Delete
                                    </button>
                                }
                                <br />
                                <span style="color:red">@strError</span>
                            </div>
                        </div>
                    </div>
                </div>

                <FileManager @ref="FileManagerControlSummary"
                             ImageSelected="InsertImageSummary" />

                <FileManager @ref="FileManagerControl"
                             ImageSelected="InsertImage" />
            }
        }
        else
        {
            <p>You must be an Administrator</p>
        }
    </Authorized>
    <!-- Show this section if the user is not logged in -->
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    public System.Security.Claims.ClaimsPrincipal CurrentUser;

    private FileManager FileManagerControlSummary;
    private FileManager FileManagerControl;
    string ADMINISTRATION_ROLE = "Administrators";
    BlazoredTextEditor QuillHtmlSummary;
    BlazoredTextEditor QuillHtml;
    bool RichTextEditorMode = true;
    bool RichTextEditorModeSummary = true;

    int CurrentPage = 1;
    BlogsPaged colBlogs = new BlogsPaged() { Blogs = new List<Blogs>(), BlogCount = 0 };

    Blogs SelectedBlog;
    bool ShowPopup = false;
    bool ShowNextButton { get { return ((colBlogs.BlogCount > (CurrentPage * 5))); } }
    string strError;

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        CurrentUser = (await authenticationStateTask).User;

        // We access BlogsService using @Service
        colBlogs = await @Service.GetBlogsAdminAsync(CurrentUser.Identity.Name, CurrentPage);
    }

    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }

    void AddNewBlog()
    {
        // Make new Blog
        SelectedBlog = new Blogs();
        // Set the default date
        SelectedBlog.BlogDate = DateTime.Now;
        // Set Id to 0 so we know it is a new record
        SelectedBlog.BlogId = 0;
        // Clear any error messages
        strError = "";
        // Open the Popup
        ShowPopup = true;
    }

    void EditBlog(Blogs Blog)
    {
        // Set the selected Blog
        // as the current Blog
        SelectedBlog = Blog;

        // Clear any error messages
        strError = "";

        // Open the Popup
        ShowPopup = true;
    }

    async Task SaveBlog()
    {
        try
        {
            // A new Blog will have the Id set to 0
            if (SelectedBlog.BlogId == 0)
            {
                // Create new Blog
                Blogs objNewBlog = new Blogs();

                objNewBlog.BlogDate =
                    SelectedBlog.BlogDate;

                objNewBlog.BlogTitle =
                    SelectedBlog.BlogTitle;

                if (RichTextEditorModeSummary)
                {
                    objNewBlog.BlogSummary =
                        await this.QuillHtmlSummary.GetHTML();
                }
                else
                {
                    objNewBlog.BlogSummary =
                        SelectedBlog.BlogSummary;
                }

                if (RichTextEditorMode)
                {
                    objNewBlog.BlogContent =
                        await this.QuillHtml.GetHTML();
                }
                else
                {
                    objNewBlog.BlogContent =
                        SelectedBlog.BlogContent;
                }

                objNewBlog.BlogUserName =
                    CurrentUser.Identity.Name;

                // Save the result
                var result =
                @Service.CreateBlogAsync(objNewBlog);

                // Log
                await LogAction($"Create Blog #{objNewBlog.BlogId}");
            }
            else
            {
                // Get HTML Content

                if (RichTextEditorModeSummary)
                {
                    SelectedBlog.BlogSummary =
                        await this.QuillHtmlSummary.GetHTML();
                }

                if (RichTextEditorMode)
                {
                    SelectedBlog.BlogContent =
                        await this.QuillHtml.GetHTML();
                }

                var result =
                @Service.UpdateBlogAsync(SelectedBlog);

                // Log
                await LogAction($"Update Blog #{SelectedBlog.BlogId}");
            }

            // Get the Blogs
            colBlogs =
            await @Service.GetBlogsAdminAsync(CurrentUser.Identity.Name, CurrentPage);

            // Close the Popup
            ShowPopup = false;
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    async Task DeleteBlog()
    {
        try
        {
            int BlogId = SelectedBlog.BlogId;

            // Delete the Blog
            var result = @Service.DeleteBlogAsync(SelectedBlog);

            // Log
            await LogAction($"Delete Blog #{BlogId}");

            // If the current page has no records
            // and not on page one go back a page
            if ((CurrentPage > 1) &&
                !((colBlogs.BlogCount - 1) > (CurrentPage * 5)))
            {
                CurrentPage = CurrentPage - 1;
            }

            // Get the Blogs
            colBlogs =
            await @Service.GetBlogsAdminAsync(CurrentUser.Identity.Name, CurrentPage);

            // Close the Popup
            ShowPopup = false;            
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    async Task Previous()
    {
        if (CurrentPage > 1)
        {
            CurrentPage = CurrentPage - 1;
            colBlogs = await @Service.GetBlogsAdminAsync(CurrentUser.Identity.Name, CurrentPage);
        }
    }

    async Task Next()
    {
        CurrentPage = CurrentPage + 1;
        colBlogs = await @Service.GetBlogsAdminAsync(CurrentUser.Identity.Name, CurrentPage);
    }

    //Summary

    private void RichTextEditorSummary()
    {
        RichTextEditorModeSummary = true;
        StateHasChanged();
    }

    private async Task RawHTMLEditorSummary()
    {
        RichTextEditorModeSummary = false;
        SelectedBlog.BlogSummary =
            await this.QuillHtmlSummary.GetHTML();
    }

    private void RichTextEditor()
    {
        RichTextEditorMode = true;
        StateHasChanged();
    }

    private async Task RawHTMLEditor()
    {
        RichTextEditorMode = false;
        SelectedBlog.BlogContent =
            await this.QuillHtml.GetHTML();
    }

    // Inserting Images

    private void InsertImageSummaryClick()
    {
        FileManagerControlSummary.SetShowFileManager(true);
    }

    private void InsertImageClick()
    {
        FileManagerControl.SetShowFileManager(true);
    }

    async Task InsertImageSummary(string paramImageURL)
    {
        await this.QuillHtmlSummary.InsertImage(paramImageURL);

        FileManagerControl.SetShowFileManager(false);
    }

    async Task InsertImage(string paramImageURL)
    {
        await this.QuillHtml.InsertImage(paramImageURL);

        FileManagerControl.SetShowFileManager(false);
    }

    private async Task LogAction(string strAction)
    {
        // Get the current user
        var CurrentUser = (await authenticationStateTask).User;

        BlazorBlogs.Data.Models.Logs objLog = new Data.Models.Logs();
        objLog.LogDate = DateTime.Now;
        objLog.LogAction = strAction;
        objLog.LogUserName = (CurrentUser.Identity != null) ? CurrentUser.Identity.Name : "";
        objLog.LogIpaddress = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress.ToString();

        var result = await @Service.CreateLogAsync(objLog);
    }
}
