@page "/"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@using static Toolbelt.Blazor.HeadElement.MetaElement
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SearchState SearchState
@inject IConfiguration _configuration
@inject IHttpContextAccessor httpContextAccessor
@inject IHeadElementHelper HeadElementHelper
@inject DisqusState DisqusState
@inherits OwningComponentBase<BlogsService>
<Title>Blazor-Blogs</Title>
<Meta Property="og:title" Content="Blazor-Blogs" />
<RadzenDropDown AllowClear="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                @bind-Value="SearchState.CurrentCategoryID" Multiple="false"
                Placeholder="Search Category..."
                Data="@colCategorys" TextProperty="Title"
                ValueProperty="CategoryId"
                Style="width:200px;"
                Change="@(args => ChangeCategory(args, "DropDown"))" />
<br />
<br />
<!-- Show the blogs -->
@if (UserIsAnAdmin)
{
    <button type="button" class="btn btn-primary" @onclick="NewBlog">[New Blog]</button>
    <br />
    <br />
}
@if (colBlogs.Blogs.Count == 0)
{
    <h2>No items returned</h2>
}
else
{
    @foreach (var blog in colBlogs.Blogs)
    {
        <a href="/ViewBlogPost/@blog.BlogId"><h2>@blog.BlogDate.ToShortDateString() - @blog.BlogTitle</h2></a>
        <div class="form-group">
            @((MarkupString)blog.BlogSummary)
        </div>
        <hr />
    }
}
<br />
<BlogAdministration @ref="BlogAdministrationControl" BlogUpdated="BlogUpdatedEvent" />
<LicenseTerms @ref="LicenseTermsControl" />
@if (ShowPreviousButton)
{
    <button class="btn btn-warning"
            @onclick="Previous">
        <b>&#x3C;</b>
    </button>
}
@if (ShowNextButton)
{
    <button class="btn btn-warning"
            @onclick="Next">
        <b>&#x3E;</b>
    </button>
}
<br />
<br />
<div style="text-align:right">
    <button class="btn btn-link"
            @onclick="showTermsOfUse">
        Terms Of Use
    </button> |
    <button class="btn btn-link"
            @onclick="showPrivacyStatement">
        Privacy Statement
    </button>
</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    BlogAdministration BlogAdministrationControl;
    LicenseTerms LicenseTermsControl;

    string ADMINISTRATION_ROLE = "Administrators";
    List<CategoryDTO> colCategorys = new List<CategoryDTO>();

    BlogsPaged colBlogs =
        new BlogsPaged()
        {
            Blogs = new List<Blogs>(),
            BlogCount = 0
        };

    bool ShowPreviousButton
    {
        get
        {
            return (SearchState.CurrentPage > 1);
        }
    }

    bool ShowNextButton
    {
        get
        {
            return (
                (colBlogs.BlogCount > (SearchState.CurrentPage * 5))
                );
        }
    }

    bool UserIsAnAdmin = false;
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        if (SearchState.CurrentPage == 0)
        {
            SearchState.CurrentPage = 1;
        }

        if (SearchState.CurrentCategoryID == null)
        {
            SearchState.CurrentCategoryID = "0";
        }

        // ensure there is a ADMINISTRATION_ROLE
        var RoleResult = await _RoleManager.FindByNameAsync(ADMINISTRATION_ROLE);
        if (RoleResult == null)
        {
            // Create ADMINISTRATION_ROLE Role
            await _RoleManager.CreateAsync(new IdentityRole(ADMINISTRATION_ROLE));
        }

        // Ensure there is a user who is an Administrator
        string strAdministratorUserName = _configuration["AdministratorUserName"];
        string strAdministratorPassword = _configuration["AdministratorPassword"];

        var user = await _UserManager.FindByNameAsync(strAdministratorUserName);

        if (user != null)
        {
            // Is user in administrator role?
            var UserResult = await _UserManager.IsInRoleAsync(user, ADMINISTRATION_ROLE);
            if (!UserResult)
            {
                // Put admin in Administrator role
                await _UserManager.AddToRoleAsync(user, ADMINISTRATION_ROLE);
            }
        }
        else
        {
            // Administrator does not exist
            // Create the user
            ApplicationUser objApplicationUser = new ApplicationUser();
            objApplicationUser.UserName = strAdministratorUserName;
            objApplicationUser.DisplayName = strAdministratorUserName;
            objApplicationUser.Email = strAdministratorUserName;
            objApplicationUser.EmailConfirmed = true;

            var UserResult = await _UserManager.CreateAsync(objApplicationUser, strAdministratorPassword);

            user = await _UserManager.FindByNameAsync(strAdministratorUserName);

            if (user != null)
            {
                // Put admin in Administrator role
                await _UserManager.AddToRoleAsync(user, ADMINISTRATION_ROLE);
            }
        }

        // Get the current user
        CurrentUser = (await authenticationStateTask).User;

        if (CurrentUser.Identity.IsAuthenticated)
        {
            // Is user an administrator?
            UserIsAnAdmin = await _UserManager.IsInRoleAsync(user, ADMINISTRATION_ROLE);
        }

        colCategorys = await @Service.GetCategorysAsync();

        // We access BlogsService using @Service
        colBlogs = await @Service.GetBlogsAsync(SearchState.CurrentPage, Convert.ToInt32(SearchState.CurrentCategoryID));

        DisqusState.SetDisplayDisqus(false);
    }

    void NewBlog()
    {
        BlogAdministrationControl.AddNewBlog();
    }

    async Task BlogUpdatedEvent()
    {
        colBlogs = await @Service.GetBlogsAsync(SearchState.CurrentPage, Convert.ToInt32(SearchState.CurrentCategoryID));
    }

    async Task ChangeCategory(object value, string name)
    {
        SearchState.CurrentPage = 1;
        SearchState.CurrentCategoryID = (value == null) ? "0" : value.ToString();

        colBlogs = await @Service.GetBlogsAsync(SearchState.CurrentPage, Convert.ToInt32(SearchState.CurrentCategoryID));
    }

    void showTermsOfUse()
    {
        LicenseTermsControl.OpenPopup("TermsOfUse");
    }

    void showPrivacyStatement()
    {
        LicenseTermsControl.OpenPopup("PrivacyStatement");
    }

    async Task Previous()
    {
        if (SearchState.CurrentPage > 1)
        {
            SearchState.CurrentPage = SearchState.CurrentPage - 1;
            colBlogs = await @Service.GetBlogsAsync(SearchState.CurrentPage, Convert.ToInt32(SearchState.CurrentCategoryID));
        }
    }

    async Task Next()
    {
        SearchState.CurrentPage = SearchState.CurrentPage + 1;
        colBlogs = await @Service.GetBlogsAsync(SearchState.CurrentPage, Convert.ToInt32(SearchState.CurrentCategoryID));
    }
}