@page "/importblogs"
@using System.Security.Claims;
@using BlazorBlogs.Data;
@using BlazorBlogs.Data.Models;
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.EntityFrameworkCore;
@using BlazorBlogsLibrary.Classes;
@using BlazorBlogsLibrary.Classes.Imports;
@inject IConfiguration _configuration
@inject GeneralSettingsService _GeneralSettingsService
@inject BlogsService _BlogsService
@inject IWebHostEnvironment _IWebHostEnvironment
@inject NavigationManager NavigationManager
@inherits OwningComponentBase
<AuthorizeView>
    <Authorized>
        <h1>Import Blogs</h1>
        <p>Works with: <a href="https://github.com/DNNCommunity/DNN.Blog">DotNetNuke Blog</a></p>
        <br />
        @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
        {
            <h4>Source</h4>
            <RadzenDropDown AllowClear="false"
                            AllowFiltering="false"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            @bind-Value="SelectedConnection" Multiple="false"
                            Placeholder="Select Connection..."
                            Data="@ColExternalConnections" TextProperty="ConnectionName"
                            Style="width:500px;" />
                            <br/>
            <button class="btn btn-primary"
                    @onclick="(() => EditConnection())">
                Edit
            </button>
            <button class="btn btn-primary"
                    @onclick="(() => NewConnection())">
                New Connection
            </button>
            <ImportBlogsDatabaseConfiguration @ref="@objImportBlogsDatabaseConfiguration"
                                              paramConnectionSetting="@objConnectionSetting"
                                              DatabaseConfigurationChanged="@DatabaseConfigurationComplete" />

        }
    </Authorized>
    <NotAuthorized>
        <h3>Administration</h3>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    ImportBlogsDatabaseConfiguration objImportBlogsDatabaseConfiguration;
    DTOConnectionSetting objConnectionSetting = new DTOConnectionSetting();

    string ADMINISTRATION_ROLE = "Administrators";

    List<ExternalConnectionsDTO> ColExternalConnections = new List<ExternalConnectionsDTO>();
    ExternalConnectionsDTO SelectedConnection;

    ClaimsPrincipal CurrentUser = new ClaimsPrincipal();

    protected override async Task OnInitializedAsync()
    {
        // Get the current logged in user
        CurrentUser = (await authenticationStateTask).User;

        _GeneralSettingsService = (GeneralSettingsService)ScopedServices.GetService(typeof(GeneralSettingsService));
        _BlogsService = (BlogsService)ScopedServices.GetService(typeof(BlogsService));

        ColExternalConnections = await _BlogsService.GetExternalConnectionsAsync();

        if (ColExternalConnections.Count > 0)
        {
            SelectedConnection = ColExternalConnections.FirstOrDefault();
            StateHasChanged();
        }
    }

    void DatabaseConfigurationComplete(DTOConnectionSetting paramConnectionSetting)
    {
        if (paramConnectionSetting.ConnectionState == ConnectionState.Add)
        {

        }

        if (paramConnectionSetting.ConnectionState == ConnectionState.Delete)
        {

        }

        if (paramConnectionSetting.ConnectionState == ConnectionState.Update)
        {

        }
    }

    void EditConnection()
    {
        if (SelectedConnection != null)
        {
            objConnectionSetting.DatabaseName = SelectedConnection.DatabaseName;
            objConnectionSetting.ServerName = SelectedConnection.ServerName;
            objConnectionSetting.IntegratedSecurity = Convert.ToBoolean(SelectedConnection.IntegratedSecurity);
            objConnectionSetting.Username = SelectedConnection.DatabaseUsername;
            objConnectionSetting.Password = SelectedConnection.DatabasePassword;
            objConnectionSetting.ConnectionState = ConnectionState.Update;

            objImportBlogsDatabaseConfiguration.setConnectionParameter(objConnectionSetting);
        }
    }

    void NewConnection()
    {
        objConnectionSetting.DatabaseName = "DotNetNuke";
        objConnectionSetting.ServerName = "(Local)";
        objConnectionSetting.IntegratedSecurity = true;
        objConnectionSetting.Username = "";
        objConnectionSetting.Password = "";
        objConnectionSetting.ConnectionState = ConnectionState.Add;

        objImportBlogsDatabaseConfiguration.setConnectionParameter(objConnectionSetting);
    }
}